
:root{
    --animate-duration:1s;
    --animate-delay:1s;
    --animate-repeat:1
}
.animate__animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-duration:var(--animate-duration);
    animation-duration:var(--animate-duration);
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    transition: all 250ms ease-out;
    // overflow: hidden;
    // min-height: 100vh;
}

@media (prefers-reduced-motion:reduce),print{
    .animate__animated{
        -webkit-animation-duration:1ms!important;
        animation-duration:1ms!important;
        -webkit-transition-duration:1ms!important;
        transition-duration:1ms!important;
        -webkit-animation-iteration-count:1!important;
        animation-iteration-count:1!important
    }
    .animate__animated[class*=Out]{
        opacity:0
    }
}

@-webkit-keyframes fadeInUpBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,2000px,0);
        transform:translate3d(0,2000px,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
@keyframes fadeInUpBig{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,2000px,0);
        transform:translate3d(0,2000px,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
.animate__fadeInUpBig{
    -webkit-animation-name:fadeInUpBig;
    animation-name:fadeInUpBig
}

@-webkit-keyframes fadeOutUpBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,-2000px,0);
        transform:translate3d(0,-2000px,0)
    }
}
@keyframes fadeOutUpBig{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,-2000px,0);
        transform:translate3d(0,-2000px,0)
    }
}
.animate__fadeOutUpBig{
    -webkit-animation-name:fadeOutUpBig;
    animation-name:fadeOutUpBig
}





@-webkit-keyframes backInUp{
    0%{
        -webkit-transform:translateY(1200px) scale(.7);
        transform:translateY(1200px) scale(.7);
        opacity:.7
    }
    80%{
        -webkit-transform:translateY(0) scale(.7);
        transform:translateY(0) scale(.7);
        opacity:.7
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@keyframes backInUp{
    0%{
        -webkit-transform:translateY(1200px) scale(.7);
        transform:translateY(1200px) scale(.7);
        opacity:.7
    }
    80%{
        -webkit-transform:translateY(0) scale(.7);
        transform:translateY(0) scale(.7);
        opacity:.7
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
.animate__backInUp{
    -webkit-animation-name:backInUp;
    animation-name:backInUp
}
@-webkit-keyframes backOutDown{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    20%{
        -webkit-transform:translateY(0) scale(.7);
        transform:translateY(0) scale(.7);
        opacity:.7
    }
    to{
        -webkit-transform:translateY(700px) scale(.7);
        transform:translateY(700px) scale(.7);
        opacity:.7
    }
}
@keyframes backOutDown{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    20%{
        -webkit-transform:translateY(0) scale(.7);
        transform:translateY(0) scale(.7);
        opacity:.7
    }
    to{
        -webkit-transform:translateY(700px) scale(.7);
        transform:translateY(700px) scale(.7);
        opacity:.7
    }
}
.animate__backOutDown{
    -webkit-animation-name:backOutDown;
    animation-name:backOutDown
}