/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../../assets/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../../assets/fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../../assets/fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../../assets/fonts/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
         url('../../assets/fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* lora-regular - latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/lora-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/lora-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/lora-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/lora-v16-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
  }
  
  /* lora-500 - latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/lora-v16-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/lora-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/lora-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/lora-v16-latin-500.svg#Lora') format('svg'); /* Legacy iOS */
  }
  
  /* lora-600 - latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/lora-v16-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/lora-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/lora-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/lora-v16-latin-600.svg#Lora') format('svg'); /* Legacy iOS */
  }
  
  /* lora-700 - latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/lora-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/lora-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/lora-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/lora-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/lora-v16-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
  }
  
  
body{
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6{
    &.serif{
        font-family: "Lora", serif;
        font-weight: 500;
    }
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
