body{
    font-family: "Open Sans" !important;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6{
    color: #000;
    font-family: "Open Sans";
    font-weight: 700 !important;
}
h1, h2, h3, h4, h5, h6{
    &.serif{
        font-family: "Lora";
        font-weight: 400 !important;
    }
    font-family: "Open Sans";
    font-weight: 700 !important;
}
