.navbar{
    padding: 0 1.5em;

    &-row{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
    }
}

.admin-bar{
    .navbar-row{
        top:32px;
    }
}

.navbar-brand.pospisk-logo{
    svg{
        margin-left: -14px;
    }
}