.navbar {
  padding: 1em 2.5em;

  &-row {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: transform .5s, -webkit-transform .5s;
    &.is-hidden {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      transition: transform .5s, -webkit-transform .5s;
    }
    &.bg {
      background-color: #ffffff;
      box-shadow: 0px 10px 20px rgba(0,0,0,0.07);
      // @media(min-width: 768px){
      // }
    }
  }
  &-toggler{
    z-index: 999;
    border: unset;
    padding: 1em;

    span{
      transition: all 300ms cubic-bezier(0.5, 0, 0.75, 0);
    }

    &:hover{
      span{
        background-color: #212529 !important;
        height: 4px !important;
      }
      .close{    
        span{
          margin-bottom: -4px !important;
        }
      }
    }

    .toggler-icon{
      display: flex;
      flex-direction: column;
      

      span{
        width: 32px;
        height: 2px;
        margin-bottom: 7px;
        background-color: #65727e;
        transform-origin: center center;
        &:last-child{
          margin-bottom: unset;
        }
      }
      &.expand{

        span{
          transform: rotate(0deg);
          transition: all 300ms cubic-bezier(0.5, 0, 0.75, 0);
        }
        &.close{
          
          span{
            transform: rotate(45deg);
            transition: all 300ms cubic-bezier(0.5, 0, 0.75, 0);
            margin-bottom: -2px;
            &:last-child{
              transform: rotate(-45deg);
            }
          }
        }

      }
    }

  }
  &-collapse{
    position: fixed;
    top: 0;
    left: 0;
    right: 1em;
    bottom: 0;
    min-height: 100%;
    display: flex !important;
    background-color: #ffffff;
    transform: translateX(-100vw);
    transition: transform 450ms cubic-bezier(0.65, 0, 0.35, 1) !important;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.15);

    @media (min-width: 768px) {
      box-shadow: unset;
      min-height: unset;
      transform: unset;
      position: unset;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      display: block !important;
      background-color: unset;
    }

    .navbar-nav{
      margin: 0 auto;
      @media (min-width: 768px) {          
        margin-left: auto;
        margin-right: 0;
      }
      a{
        text-align: center;
        font-size: 4em;
        @media (min-width: 768px) {          
          text-align: left;
          font-size: unset;
        }
      }
    }

    &.show{
      transform: translateX(0vw);
      transition: transform 450ms cubic-bezier(0.65, 0, 0.35, 1);
      right: 0;
      @media (min-width: 768px) {
        right: unset;
      }
    }
  }
}
.nav{
  &-item{
    text-align: center;
    text-transform: uppercase;
    a{
      font-weight: 500;
      &.router-link-exact-active{
        color: #424242 !important;
        font-weight: 700 !important;
        cursor: default;
      }
    }
  }
}

.admin-bar {
  .navbar-row {
    top: 46px;
    @media (min-width: 782px){
      top: 32px;
    }
  }
  .navbar-collapse{
    top: 46px;
    @media (min-width: 782px){
      top: unset;
    }
  }
}

.navbar-brand.pospisk-logo {
  svg {
    margin-left: -14px;
  }
}
