.posts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	// overflow: hidden;
	// padding: 1em 0;
	@media (min-width: 992px) {
		flex-direction: row;
		justify-content: center;
	}
}

.home-posts{

	.post{
		&:last-child{
			display: none !important;
			// opacity: 0 !important;
			// visibility: hidden !important;
			@media (min-width: 1400px){
				display: flex !important;
			}
		}
	}
}

.post {
	display: flex;
	flex-direction: column;
	// background-color: #ffffff;
	// box-shadow: 0px 8px 16px rgba(0,0,0,0.07);
	border-radius: 15px;
	width: 100%;
	padding: 1em;
	transition: all 250ms ease-out;

	@media (min-width: 992px) {
		width: calc(100% / 3 - 2em);
	}

	@media (min-width: 1400px) {
		width: calc(100% / 4 - 2em);
	}

	h4,
	p {
		opacity: 0.9;
		transition: all 250ms ease-out;
	}

	a {
		background-color: #ffffff;
		border-radius: 15px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
		color: unset;
		height: 100%;
		text-decoration: none;
		transform: scale(1);
		transition: all 250ms ease-out;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.07);
			transition: all 250ms ease-in;

			h4,
			p {
				opacity: 1;
				transition: all 250ms ease-in;
			}
		}
	}

	&__header {
		&--image {
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			width: 100%;
			height: 300px;
		}
	}

	&__body {
		padding: 1.5em 1em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;

		&--title {
			h4 {
				font-weight: 600;
				word-wrap: break-word;
				overflow-wrap: break-word;
			  
			  -webkit-hyphens: auto;
				 -moz-hyphens: auto;
					  hyphens: auto;
			}
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		padding: 0.25em 0.5em;

		&--image {
			border-radius: 50px;
			width: 50px;
			height: auto;
		}

		&--name {
			display: flex;
			align-self: center;
			margin-left: 0.33em;

			p {
				margin-bottom: 0;
			}
		}
	}
}

.arrow {
	&__links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: outside none none;
		margin: 0 auto;
		width: 100%;
		padding: 0;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		justify-content: center;
	}

	&__link {
		color: $primary-color;
		width: 100%;
		list-style: outside none none;
		margin: 0;
		text-align: left;

		@media (min-width:768px) {
			width: calc(50% - 0.5px);
		}

		&:first-child {
			border-right: none;
			border-bottom: 1px solid #e6e6e6;

			@media (min-width:768px) {
				border-right: 1px solid #e6e6e6;
				border-bottom: none;
			}

			.arrow__href {
				&:after {
					transform-origin: right;
				}
			}

			.arrow__icon {
				transform: scalex(-1);
				// transform: rotate(180deg);
			}

			.arrow__title {
				margin-left: 1em;
				margin-right: 0;
			}
		}
	}

	&__href {
		align-items: center;
		border-bottom-style: none;
		border-width: 0;
		cursor: pointer;
		display: flex;
		height: 100%;
		justify-content: space-between;
		list-style: outside none none;
		margin: 0;
		padding: 2em;
		text-align: left;
		text-decoration: none;
		position: relative;

		&:after {
			content: '';
			background: #e6e6e6;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
			transform-origin: left;
			transform: scalex(0);
			transition: all 250ms cubic-bezier(0.5, 0, 0.75, 0);
		}

		&:hover {
			text-decoration: none;

			&:after {
				transform: scalex(1);
				transition: all 400ms cubic-bezier(0.5, 0, 0.75, 0);
			}
		}
		&.disabled{
			justify-content: center;
		}
	}

	&__icon {
		cursor: pointer;
		display: inline-block;
		flex-shrink: 0;
		font-size: 48px;
		height: 1em;
		line-height: 1;
		list-style: outside none none;
		text-align: left;
		width: 1em;
		fill: $primary-color;
	}

	&__title {
		font-size: 1.2em;
		color: $primary-color;
		cursor: pointer;
		list-style: outside none none;
		padding: 0;
		text-align: left;
		margin-right: 1em;
	}
}

.postview{

	&__title{
		margin-bottom: 0.618em;
	}

	&__info{
		list-style: none;
		display: flex;
		flex-direction: row;
		@media (min-width:768px) {
			flex-direction: column;
		}
		&--item{
			display: flex;
			flex-direction: column;

			&:first-child{
				margin-bottom: 0.5em;
			}
			&:last-child{
				margin-left: 2em;	
				
				@media (min-width:768px) {
					margin-left: 0;	
				}
			}
		}
	}

	&__body{
		p{
			margin-bottom: unset;
			font-size: 1.1em;
		}
	}

	&__header{
		margin: 2em 0;
		// transform: scale(1.05);
		box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
	}
}