.timeline{
	position: relative;
	margin: 2em auto 0;
	min-height: 100%;
	max-width: 1200px;
	padding: 4em 1em;
	display: flex;
	flex-direction: column;
	transform: translateX(-1em);
	@media (min-width:992px){
		transform: translateX(0);
	}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 2em;
		height: 100%;
		width: 1px;
		background-color: lighten( #000000, 50%);
		transform: translateX(-50%);
		
		@media (min-width:992px){
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			height: 100%;
			width: 1px;
			background-color: #000000;
			transform: translateX(-50%);
		}
	}
	
	&__item{
		position: relative;
		margin-bottom: 4em;
		width: calc(100% - 4em);
		@media (min-width:992px){
			width: calc(100% / 2 - 3em);
		}
		
		&--inner{
			background-color: #ffffff;
			border-radius: 5px;
			border-top-right-radius: 0px;
			padding: 2em 1.5em;
			box-shadow: 0px 6px 12px rgba(0,0,0,.08);
			
			.timeline__item--date{
				display: block;
				@media (min-width:992px){
					display: none;
				}
			}
			
			&:after{
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(100%);
				width: 0;
				height: 0;
				border-left: 1em solid #ffffff;
				border-bottom: 1em solid transparent;
			}
		}
		&--outer{
			position: absolute;
			top: 0;
			right: 0;
			transform: translateX(100%);
			display: flex;
			flex-direction: row;
			margin-top: -1.5em;
			align-items: center;
			
			.timeline__item--date{
				display: none;
			
				@media (min-width: 992px){
					display: block;
				}
				
			}
			
		}
		&--icon{
			background-color: #000000;
			border-radius: 50px;
			width: 1em;
			height: 1em;
			margin-left: 2.5em;
			text-align: center;
			color: #ffffff;
			line-height: 2.8em;
			
        }
        &--link{
            background-color: #000000;
            color: #ffffff;
			border-radius: 5px;
			padding: 0.5em 1em;
			transition: all 250ms ease-out;
			&:hover{
				text-decoration: none;
				color: #ffffff;
				background-color: lighten(#000000, 25%);
				transition: all 250ms ease-out;
			}
        }
		&--date{
			margin-left: 1em;
		}
				
		@media (min-width: 0px) and (max-width:991px){
		
			&:nth-child(n+0){
				align-self: flex-end;
				.timeline__item--inner{
					border-top-left-radius: 0px;
					border-top-right-radius: 5px;
					&:after{
						left: 0;
						right: unset;
						transform: translateX(-100%);
						border-left: unset;
						border-right: 1em solid #ffffff;
						border-bottom: 1em solid transparent;
					}
				}
				.timeline__item--outer{
					position: absolute;
					right: unset;
					left: 0;
					transform: translateX(-100%);
					display: flex;
					flex-direction: row-reverse;
					margin-top: -1.5em;
					align-items: center;
				}
				.timeline__item--icon{
					margin-left: unset;
					margin-right: 2.5em;
				}
				.timeline__item--date{
					margin-left: unset;
					margin-right: 1em;
				}

			}
			
		}

		&:nth-child(even){
			align-self: flex-end;
			.timeline__item--inner{
				border-top-left-radius: 0px;
				border-top-right-radius: 5px;
				&:after{
					left: 0;
					right: unset;
					transform: translateX(-100%);
					border-left: unset;
					border-right: 1em solid #ffffff;
					border-bottom: 1em solid transparent;
				}
			}
			.timeline__item--outer{
				position: absolute;
				right: unset;
				left: 0;
				transform: translateX(-100%);
				display: flex;
				flex-direction: row-reverse;
				margin-top: -1.5em;
				align-items: center;
			}
			.timeline__item--icon{
				margin-left: unset;
				margin-right: 2.5em;
			}
			.timeline__item--date{
				margin-left: unset;
				margin-right: 1em;
			}
			
		}
		
		&--title{
			h3{
				word-wrap: break-word;
				overflow-wrap: break-word;
			  
			  -webkit-hyphens: auto;
				 -moz-hyphens: auto;
					  hyphens: auto;
			}
		}
		&--content{
			
		}
	}
}