* {
	box-sizing: border-box;
}

.min{

    &-vh{

        &-80{
            min-height: 80vh;
        }
    }
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	height: auto;
	margin: auto;
	overflow: visible;
	width: auto;
	white-space: normal;
}

.disabled {
	pointer-events: none;
	cursor: default;
}
a{
	.emoji{
		margin: 0 .35em !important;
	}
}

.btn-download{
	a{
		display: flex;
		flex-direction: row;
		&::before{
			content: "";
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yMSwxNXY0YzAsMS4xLTAuOSwyLTIsMkg1Yy0xLjEsMC0yLTAuOS0yLTJ2LTQiLz4KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iNywxMCAxMiwxNSAxNywxMCAiLz4KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjEyIiB5MT0iMTUiIHgyPSIxMiIgeTI9IjMiLz4KPC9zdmc+Cg==');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 22px;
			height: 22px;
			display: block;
			margin-right: 1.5em;
		}
		&:hover{
			background-color: $primary-color;
			color: #ffffff;
			&::before{
				filter: invert(1);
			}
		}
	}
}

li.btn.btn-primary{
	&:hover, &:active, &:focus{
		background-color: unset !important;
		color: unset !important;
	}
}

.maxw-lg{
	@media (min-width: 1440px){
		max-width: 1440px;
		margin: 0 auto;
	}
}

@keyframes slideOutTop {
	from {transform: translateY(0%);}
	to {transform: translateY(-100%);}
}

@keyframes slideInTop {
	from {transform: translateY(-100%);}
	to {transform: translateY(0%);}
}

@keyframes slideInBottom {
	from {transform: translateY(100%);}
	to {transform: translateY(0%);}
}

.slideOutTop{
	animation-name: slideOutTop;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
}
.slideInTop{
	animation-name: slideInTop;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
}
.slideInBottom{
	animation-name: slideInBottom;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
}

.link__sliced {
	outline: none;
	text-decoration: none;
	position: relative;
	display: inline-block;
	// text-transform: uppercase;
	color: #65727e !important;
	overflow: hidden;
}

.link__sliced:hover {
	color: #65727e !important;
}

.link__sliced::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #ffffff;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);

	@media (min-width:768px){
		height: 4px;
		margin-top: -2px;
	}
}

.link__sliced:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link__sliced::before {
	content: attr(data-text);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	font-size: 1em;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link__sliced:hover::before {
	width: 100%;
}

@media screen and (max-width: 42em) {
	.link__sliced { font-size: 3.5em; }
}
.spacer{
	height: 200px;
}

.flex-basis-none{
	flex-basis: unset !important;
}

.block--scrolling{
	height: 98vh;
	overflow: hidden;
}

.admin-bar{
	
	.block-scrolling{
		height: calc( 100vh - 46px);
		@media (min-width:782px){
			height: calc( 100vh - 32px);
		}
	}
}

.loader {
	border-radius: 0px !important;
	.progress-bar {
		background-color: $primary-color;
	}
}

#wpadminbar{
	position: fixed;
}